#header-nav{
	background-color: darkgrey;
	border-radius: 0;
	border: 3px solid black; 

}
.navbar-toggle{
	position: relative;
	float: right;
	padding: 10px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	border: 2px #000000;
	border-radius: 4px;
  background-color: darkslategrey;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 1px;
  background-color: black;
}


button{
  margin: 0;
  font: inherit;
  color: white;
}
button{
  overflow: visible;
}

.nav-h1{
  font-family: candara;
  font-weight: bold;
  font-size: 28px;
  color: black;
}



#nav-list {
  background-color: silver;
  font-family: candara;
}


#nav-list a {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

#nav-list a:hover {
  font-size: 28px;
  background:darkslategrey;
  color: white;
  font-weight: bold;
}



/********** Base styles **********/
* {
  box-sizing: border-box;
}

h1 {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
}

h2 {
  margin-top: 5px;
  margin-bottom: 6px;
  text-align: center;
  font-weight: bold;
  font-color: black;
}



.box{
  box-sizing: border-box;
  background-color: darkgrey;
  width: 100%;
  height: auto;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 20px;
}

p {
  font-family: candara;
  font-weight: bold;
  font-size: 18px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 29.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 46%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 96%;
  }
}
